<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Title</key>
			<string>ST_SEARCH_TITLE</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>YES</string>
			<key>Key</key>
			<string>addressSearchSwitch</string>
			<key>Title</key>
			<string>ST_TOGGLE_SWITCH</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>TRAIN_LINE_TITLE</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>Trainlines</string>
			<key>Title</key>
			<string>TR_DET_TITLE</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>MUL_VALUE_TITLE</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>Key</key>
			<string>STREPORTERREMAILKEY</string>
			<key>DefaultValue</key>
			<string></string>
			<key>IASKMailComposeBccRecipents</key>
			<array/>
			<key>IASKMailComposeBody</key>
			<string>EMAIL_STATION_BDY</string>
			<key>IASKMailComposeBodyIsHTML</key>
			<string>NO</string>
			<key>IASKMailComposeCcRecipents</key>
			<array/>
			<key>IASKMailComposeSubject</key>
			<string>EMAIL_STATION_TIT</string>
			<key>IASKMailComposeToRecipents</key>
			<array>
				<string>support@zonezeroapps.com</string>
			</array>
			<key>Title</key>
			<string>STATION_TIT</string>
			<key>Type</key>
			<string>IASKMailComposeSpecifier</string>
		</dict>
		<dict>
			<key>Key</key>
			<string>APREPORTERREMAILKEY</string>
			<key>DefaultValue</key>
			<string></string>
			<key>IASKMailComposeBccRecipents</key>
			<array/>
			<key>IASKMailComposeBody</key>
			<string>EMAIL_APP_BDY</string>
			<key>IASKMailComposeBodyIsHTML</key>
			<string>NO</string>
			<key>IASKMailComposeCcRecipents</key>
			<array/>
			<key>IASKMailComposeSubject</key>
			<string>EMAIL_APP_TIT</string>
			<key>IASKMailComposeToRecipents</key>
			<array>
				<string>support@zonezeroapps.com</string>
			</array>
			<key>Title</key>
			<string>APP_TIT</string>
			<key>Type</key>
			<string>IASKMailComposeSpecifier</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>TEXT_FIELD_TITLE</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string></string>
			<key>File</key>
			<string>itms-apps://ax.itunes.apple.com/WebObjects/MZStore.woa/wa/viewContentsUserReviews?type=Purple+Software&amp;id=591891637</string>
			<key>Title</key>
			<string>RATE_IT_TIT</string>
			<key>Type</key>
			<string>IASKOpenURLSpecifier</string>
		</dict>
		<dict>
			<key>Key</key>
			<string>TELLAFRIENDEMAILKEY</string>
			<key>DefaultValue</key>
			<string></string>
			<key>IASKMailComposeBccRecipents</key>
			<array/>
			<key>IASKMailComposeBody</key>
			<string>EMAIL_TELLAFRIEND_BDY</string>
			<key>IASKMailComposeBodyIsHTML</key>
			<string>YES</string>
			<key>IASKMailComposeCcRecipents</key>
			<array/>
			<key>IASKMailComposeSubject</key>
			<string>EMAIL_TELLAFRIEND_TIT</string>
			<key>IASKMailComposeToRecipents</key>
			<array/>
			<key>Title</key>
			<string>TELLAFRIEND_TIT</string>
			<key>Type</key>
			<string>IASKMailComposeSpecifier</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>APPLICATION_INFO_TITLE</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>Help</string>
			<key>Title</key>
			<string>HELP</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>About</string>
			<key>Title</key>
			<string>ABOUT</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>2.2</string>
			<key>Key</key>
			<string>version</string>
			<key>Title</key>
			<string>VERSION</string>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>2013 Alain Furter</string>
			<key>Key</key>
			<string>copyright</string>
			<key>Title</key>
			<string>Copyright</string>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Root</string>
	<key>Title</key>
	<string>WhereTo</string>
</dict>
</plist>
