<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Documentation.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Framework.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>MTDirectionsKit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9B10A96A155D4A06002A3052</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9B10A99C155D5867002A3052</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9B6C18BF14A7E18200087893</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9BEE27C0155EB2B8008A42F8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
